<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Chi-Square Test](#chisq)**
2. **[One-way ANOVA](#1way)**
3. **[Equivalent Non-parametric Test](#non-para)**
4. **[Two-way ANOVA](#2way)**

**Import the required libraries**

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

### Let's begin with some hands-on practice exercises

<a id = "chisq"> </a>
## 1. Chi-Square Test

Use the data available in the CSV file `Employee_Attrition.csv` for questions 1 to 8.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A company in Los Angeles has three functional departments - Research and Development, Sales, and Human Resources. The company claims that the percentage of employees in these 3 departments is 55%, 35% and 10% respectively. Check the company's claim using p-value criteria. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
data = pd.read_csv('Employee_Attrition.csv')
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [6]:
#Ho : observered = expected
#Ha : observered != expected

In [10]:
exp_per = np.array([0.55,0.35,0.10])
exp_val = exp_per * len(data)
print(exp_val)

[808.5 514.5 147. ]

In [15]:
print(data['Department'].value_counts())
obs_value = [961,446,63]

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [16]:
stats.chisquare(f_exp=exp_val,f_obs=obs_value )

Power_divergenceResult(statistic=85.88470712960503, pvalue=2.2406437256053955e-19)

In [ ]:
# significance level is 0.05
# p_value < 0.05
# We reject the null hypothesis.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The employees in an IT firm undergo an online assessment survey. The survey reveals that 20% of employees are least satisfied, 18% are fairly satisfied, 30% are moderately satisfied and 32% are highly satisfied with their job. Use a critical value method to test the survey result with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
exp_per = np.array([0.2,0.18,0.30,0.32])
exp_val = exp_per * len(data)
print(exp_val)

[294.  264.6 441.  470.4]

In [18]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [21]:
print(data['JobSatisfaction'].value_counts())
obs_value = [289,280,442,459]

4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

In [22]:
p_value = stats.chisquare(f_exp=exp_val,f_obs=obs_value )

Power_divergenceResult(statistic=1.2598733938019708, pvalue=0.7386828586247451)

In [ ]:
# significance level is 0.1
# p_value > 0.1
# We fail to reject the null hypothesis.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The company claims that in the organization, 68% of employees are there with rare travelling, 20% with frequent travelling and 12% of employees does not need to travel for business. Check if the given data fits with the company's claimed distribution. Use the p-value technique with 99% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
print(data['BusinessTravel'].value_counts())

obs_value = [1043,277,150]

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [12]:
exp_per = np.array([0.68,0.20,0.12])
exp_value = exp_per * len(data)

In [13]:
stats,p_value = stats.chisquare(f_exp=exp_value, f_obs = obs_value)
print('p-value is',p_value)

# p-value < 0.1, henace reject null hypothesis.

p-value is 0.0330688454314459

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Check whether travelling for work depends upon the job role of an employee. Use p-value criteria to test the dependence with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [24]:
data.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [25]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [30]:
contigency_table = pd.crosstab(data.BusinessTravel,data.JobRole)
contigency_table

JobRole,Healthcare Representative,Human Resources,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative
BusinessTravel,,,,,,,,,
Non-Travel,15,4,28,12,13,6,28,39,5
Travel_Frequently,26,10,51,13,29,12,54,59,23
Travel_Rarely,90,38,180,77,103,62,210,228,55

In [43]:
tstat,p_value,dof,expe = stats.chi2_contingency(contigency_table)
print('tstat value is',ttest,'and p- value is',p_value)

tstat value is 46.163676540848705 and p- value is 9.45551106034083e-11

In [34]:
# P_value > 0.01
# Null hypothesis is not rejected
# There is no relation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Is there any relationship between the attrition of an employee and his/her marital status? Use the critical value technique to test the relationship with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [39]:
contigency_table = pd.crosstab(data.Attrition,data.MaritalStatus)
contigency_table

MaritalStatus  Divorced  Married  Single
Attrition
No                  294      589     350
Yes                  33       84     120

In [42]:
tstat,p_value,dof,expe = stats.chi2_contingency(contigency_table)
print('tstat value is',ttest,'and p- value is',p_value)

tstat value is 46.163676540848705 and p- value is 9.45551106034083e-11

In [44]:
# p_value < 0.05
# Reject null hypothesis
# There is relation between attribution and marital status

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Check whether travelling for the business depends on the gender of an employee. Use the p-value technique to test the claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [47]:
contigency_table = pd.crosstab(data.BusinessTravel,data.Gender)
contigency_table

Gender             Female  Male
BusinessTravel
Non-Travel             49   101
Travel_Frequently     117   160
Travel_Rarely         422   621

In [50]:
tstat,p_value,dof,expe = stats.chi2_contingency(contigency_table)
print('tstat value is',ttest,'and p- value is',p_value)

tstat value is 46.163676540848705 and p- value is 0.13322895625828154

In [51]:
# P_value > 0.1
# Null hypothesis is not rejected
# there is no strong relation between them

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The economic forum claims that the variance in the percentage salary hike is more the 12% in Manhattan. To test the forum's claim use the data obtained from a telecom company in Manhattan. Use a critical value method to test the claim with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [23]:
mean = np.mean(data['PercentSalaryHike'])
sigma = 12

chi_square  = np.sum((data.PercentSalaryHike - mean)**2) / sigma
chi_square

1639.788888888889

In [24]:
import scipy.stats as stats
stats.chi2.pdf(chi_square,df= len(data)-1)

6.560926582372806e-05

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. The worker's association claims that the distance travelled by each employee to reach the office has a variance of less than 15 miles. Use a critical value method to test the claim with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [41]:
sigma = 15
mean = data['DistanceFromHome'].mean()
chi_square = np.sum((data.DistanceFromHome - mean)**2) / sigma
chi_square

6436.301179138322

In [42]:
import scipy.stats as stats
stats.chi2.pdf(chi_square,df = len(data)-1)

0.0

<a id = "1way"> </a>
## 2. One-way ANOVA

Use the data available in the CSV file `sales_emp.csv` for questions 9 to 13.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Check whether we can use the given dataset to study the equality of average monthly income of sales executives with a different education background in the company. Use a p-value technique to test at a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
anova_data = pd.read_csv('sales_emp.csv')
anova_data.head(2)

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,36,Travel_Rarely,1218,9,4,Life Sciences,1,27,3,82,...,2,80,0,10,4,3,5,3,0,3
1,39,Travel_Rarely,895,5,3,Technical Degree,1,42,4,56,...,3,80,1,19,6,4,1,0,0,0

In [59]:
stats.shapiro(anova_data.MonthlyIncome)

# p-value > 0.05
# Hence data is normal

ShapiroResult(statistic=0.9582135677337646, pvalue=0.05732710659503937)

In [7]:
stats.levene(mi_mar,mi_ls,mi_med,mi_td,mi_oth)

# P-value > 0.05
# all variances are equal 
# Annova test can be performed because it satisfies both Shapiro and levene test.

LeveneResult(statistic=1.4405771214255787, pvalue=0.23476859109336565)

In [22]:
anova_data['EducationField'].value_counts()

Marketing           20
Life Sciences       16
Medical              8
Technical Degree     6
Other                4
Name: EducationField, dtype: int64

In [11]:
import scipy.stats as stats
mi_mar = anova_data[anova_data['EducationField'] == 'Marketing']['MonthlyIncome']
mi_ls = anova_data[anova_data['EducationField'] == 'Life Sciences']['MonthlyIncome']
mi_med = anova_data[anova_data['EducationField'] == 'Medical']['MonthlyIncome']
mi_td = anova_data[anova_data['EducationField'] == 'Technical Degree']['MonthlyIncome']
mi_oth = anova_data[anova_data['EducationField'] == 'Other']['MonthlyIncome']


stats,p_value = stats.f_oneway(mi_mar,mi_ls,mi_med,mi_td,mi_oth)
print('p-value is',p_value)

# p-value > 0.05
# null hypothesis is not rejected
# no relation between them

p-value is 0.4407865128409415

 <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Use the sales employees' dataset to test whether the average monthly income of sales executives with different education background is equal or not. Use a critical value method with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
anova_data['EducationField'].value_counts()

Marketing           20
Life Sciences       16
Medical              8
Technical Degree     6
Other                4
Name: EducationField, dtype: int64

In [31]:
import scipy.stats as stats

mi_mar = anova_data[anova_data['EducationField'] == 'Marketing']['MonthlyIncome']
mi_ls = anova_data[anova_data['EducationField'] == 'Life Sciences']['MonthlyIncome']
mi_med = anova_data[anova_data['EducationField'] == 'Medical']['MonthlyIncome']
mi_td = anova_data[anova_data['EducationField'] == 'Technical Degree']['MonthlyIncome']
mi_oth = anova_data[anova_data['EducationField'] == 'Other']['MonthlyIncome']


stats,p_value = stats.f_oneway(mi_mar,mi_ls,mi_med,mi_td,mi_oth)
print('critical value is',stats)
# p-value > 0.05
# null hypothesis is not rejected
# no relation between them and shows that average monthly income is different for different education background.

critical value is 0.9546031924978221

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Can we use the given data of sales executives to check the equality of the average daily rate for different types of business travellers? Use a p-value technique to test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
anova_data['BusinessTravel'].value_counts()

Travel_Frequently    18
Travel_Rarely        18
Non-Travel           18
Name: BusinessTravel, dtype: int64

In [21]:
import scipy.stats as stats
stats,p_value = stats.shapiro(anova_data.DailyRate)
print('p-value is',p_value)

# p-value > 0.01, hence 'DailyRate' is normally distributed.

p-value is 0.040250398218631744

In [38]:
import scipy.stats as stats
dr_tf = anova_data[anova_data['BusinessTravel'] == 'Travel_Frequently']['DailyRate']
dr_tr = anova_data[anova_data['BusinessTravel'] == 'Travel_Rarely']['DailyRate']
dr_nt = anova_data[anova_data['BusinessTravel'] == 'Non-Travel']['DailyRate']

stats,p_value = stats.levene(dr_tf,dr_tr,dr_nt)
print('p-value using levene is',p_value)

# p-value > 0.01, hence all the variances are equal.
# Hence Anova test can be performed because both Shapiro and levene test is satisfied.
import scipy.stats as stats
stats,p_value = stats.f_oneway(dr_tf,dr_tr,dr_nt)
print('p-value using anova test is',p_value)

# p-value < 0.01, hence reject null hypothesis
# It conclude that equality of the average daily rate for different types of business travellers is same

p-value using levene is 0.23137904227432696
p-value using anova test is 4.527131533131016e-06

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Use the parametric test to check the equality of the average daily rate for all the types of business travelling. Use a p-value technique to test the data with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [40]:
import scipy.stats as stats
stats,p_value = stats.f_oneway(dr_tf,dr_tr,dr_nt)
print('p-value using anova test is',p_value)

# p-value < 0.01, hence reject null hypothesis
# It conclude that equality of the average daily rate for different types of business travellers is same

p-value using anova test is 4.527131533131016e-06

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Find the types of business travel for which the average daily rate is different. Use a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [44]:
anova_data.BusinessTravel.value_counts()

Travel_Frequently    18
Travel_Rarely        18
Non-Travel           18
Name: BusinessTravel, dtype: int64

<a id= "non-para"></a>
## 3. Equivalent Non-parametric Test

Use the data available in the CSV file `Employee_Attrition.csv` for questions 14 to 18.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Can we use the non-parametric test to study the equality of average monthly income for all departments in the company? Use a p-value technique to test at 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [46]:
data = pd.read_csv('Employee_Attrition.csv')
data.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [47]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [50]:
import scipy.stats as stats
stats.shapiro(data.MonthlyIncome)

# p-value < 0.01
# Hence data is not normal,Annova tet is not possible.
# Equivalent non-parametric test is krushkal

ShapiroResult(statistic=0.8279078602790833, pvalue=4.4031748323132235e-37)

In [51]:
data.Department.value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [52]:
mi_rd = data[data['Department'] == 'Research & Development']['MonthlyIncome']
mi_sa = data[data['Department'] == 'Sales']['MonthlyIncome']
mi_hr = data[data['Department'] == 'Human Resources']['MonthlyIncome']

In [56]:
stats,p_value = stats.kruskal(mi_rd,mi_sa,mi_hr)
print('p-value is',p_value)

p-value is 5.565332051212746e-10

In [55]:
# p-value < 0.01
# null is rejected
# there is a relation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>15. Check whether the monthly income for all the departments in a company is the same or not. Test using the critical value method at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [61]:
import scipy.stats as stats
stats,p_value = stats.kruskal(mi_rd,mi_sa,mi_hr)
print('critical value is',stats)

critical value is 42.61858855841987

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Is it possible to identify the department with different average monthly income? If yes, perform the test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [86]:
#ignore

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Check whether we can perform the Kruskal-Wallis H test to test the equality of the average experience of employees in all the departments. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [63]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [67]:
import scipy.stats as stats
stats,p_value = stats.shapiro(data.TotalWorkingYears)
print('p-value is',p_value)

# p-value < 0.05, hence data is not normally distributed.
# Hence anova test is not possible and equivalent test is Kruskal test

p-value is 5.62833706762415e-29

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>18. Perform a non-parametric test to test the equality of the average experience of employees in all the departments. Use the p-value technique to perform the test with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [68]:
data['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [73]:
import scipy.stats as stats
tw_rd = data[data['Department'] == 'Research & Development']['TotalWorkingYears']
tw_sa = data[data['Department'] == 'Sales']['TotalWorkingYears']
tw_hr = data[data['Department'] == 'Human Resources']['TotalWorkingYears']

stats.kruskal(tw_rd,tw_sa,tw_hr)

# p-value > 0.05, hence fail to reject null hypothesis
# There is no relation between Department and TotalWorkingYears

KruskalResult(statistic=0.14222005425570283, pvalue=0.9313594116888158)

<a id= "2way"></a>
## 4. Two-way ANOVA

Use the data available in the CSV file `sales_emp.csv` for questions 19 and 20.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Check whether the monthly income of employee depends on the education field and job involvement of the employee. Use the p-value technique with 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
#ignore

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Check whether the daily rate is affected by the types of business travel and levels of work-life balance. Use the p-value technique with 1% level of significance.</b>
                </font> 
            </div>
        </td>
    </tr>
</table>

In [74]:
#ignore