<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Chi-Square Test](#chisq)**
2. **[One-way ANOVA](#1way)**
3. **[Equivalent Non-parametric Test](#non-para)**
4. **[Two-way ANOVA](#2way)**

**Import the required libraries**

In [1]:
# type your code here
# import pandas
import pandas as pd

# import 'numpy' 
import numpy as np

# import subpackage of matplotlib
import matplotlib.pyplot as plt

# import 'seaborn'
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# import statistics to perform statistical computation  
import statistics

# import 'stats' package from scipy library
from scipy import stats

# import a library to perform Z-test
from statsmodels.stats import weightstats as stests

# to test the normality 
from scipy.stats import shapiro

# import the function to calculate the power of test
from statsmodels.stats import power

### Let's begin with some hands-on practice exercises

<a id = "chisq"> </a>
## 1. Chi-Square Test

Use the data available in the CSV file `Employee_Attrition.csv` for questions 1 to 8.

In [3]:
df = pd.read_csv('Employee_Attrition.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A company in Los Angeles has three functional departments - Research and Development, Sales, and Human Resources. The company claims that the percentage of employees in these 3 departments is 55%, 35% and 10% respectively. Check the company's claim using p-value criteria. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
# type your code here
exp_per = np.array([0.55,0.35,0.10])
exp_value = exp_per*len(df)
exp_value

array([808.5, 514.5, 147. ])

In [6]:
df['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [10]:
obs_value = [961,446,63]

H0: There is no relation, they are independent
Ha: There is relation, they are dependent

In [11]:
stats.chisquare(f_obs=obs_value,f_exp=exp_value)

Power_divergenceResult(statistic=85.88470712960503, pvalue=2.2406437256053955e-19)

In [ ]:
# pvalue < 0.05 
# Null Hypothesis is rejected
# There is relation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The employees in an IT firm undergo an online assessment survey. The survey reveals that 20% of employees are least satisfied, 18% are fairly satisfied, 30% are moderately satisfied and 32% are highly satisfied with their job. Use a critical value method to test the survey result with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# type your code here
exp_per =np.array( [0.2,0.18,0.30,0.32])
exp_value= exp_per*len(df)
exp_value

array([294. , 264.6, 441. , 470.4])

In [5]:
df.JobSatisfaction.value_counts()

4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

In [7]:
obs_value = [289,280,442,459]

H0: They are independent(no relation)
H1: They are dependent

In [8]:
stats.chisquare(f_obs=obs_value,f_exp=exp_value)

Power_divergenceResult(statistic=1.2598733938019708, pvalue=0.7386828586247451)

In [ ]:
# pvalue > 0.05 
# Null Hypothesis is not rejected
# There is no relation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The company claims that in the organization, 68% of employees are there with rare travelling, 20% with frequent travelling and 12% of employees does not need to travel for business. Check if the given data fits with the company's claimed distribution. Use the p-value technique with 99% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [23]:
# type your code here
exp_per = np.array([0.68,0.20,0.12])
exp_value = exp_per*len(df)
exp_value

array([999.6, 294. , 176.4])

In [26]:
df['BusinessTravel'].value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [27]:
obs_value = [1043,277,150]

H0: They are independent(no relation)
H1: They are dependent

In [29]:
stats.chisquare(f_obs=obs_value, f_exp=exp_value)

Power_divergenceResult(statistic=6.818327330932372, pvalue=0.0330688454314459)

In [ ]:
# pvalue < 0.05 
# Null Hypothesis is rejected
# There is relation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Check whether travelling for work depends upon the job role of an employee. Use p-value criteria to test the dependence with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
# type your code here
cont_table = pd.crosstab(df['BusinessTravel'],df['JobRole'])
cont_table

JobRole,Healthcare Representative,Human Resources,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative
BusinessTravel,,,,,,,,,
Non-Travel,15,4,28,12,13,6,28,39,5
Travel_Frequently,26,10,51,13,29,12,54,59,23
Travel_Rarely,90,38,180,77,103,62,210,228,55

H0: They are independent(no relation)
Ha: They are dependent

In [20]:
tstat,pval,dof,expe = stats.chi2_contingency(cont_table)
print(tstat,pval)

11.987695596739206 0.7448263418408124

In [ ]:
# 
# pvalue > 0.05 
# Null Hypothesis is not rejected
# There is no relation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Is there any relationship between the attrition of an employee and his/her marital status? Use the critical value technique to test the relationship with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [31]:
# type your code here
cont_table = pd.crosstab(df['Attrition'],df['MaritalStatus'])
cont_table

MaritalStatus  Divorced  Married  Single
Attrition
No                  294      589     350
Yes                  33       84     120

H0: There are independent that is no relation
Ha: There dependent that is relation

In [33]:
tstat,pval,dof,expe = stats.chi2_contingency(cont_table)
print(tstat,pval)

46.163676540848705 9.45551106034083e-11

In [ ]:
# pvalue < 0
# pvalue < significance level
# H0(Null Hypothesis is rejected)
# There is  relation between Attrition and MaritalStatus

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Check whether travelling for the business depends on the gender of an employee. Use the p-value technique to test the claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [35]:
# type your code here
cont_table = pd.crosstab(df['BusinessTravel'],df['Gender'])
cont_table

Gender             Female  Male
BusinessTravel
Non-Travel             49   101
Travel_Frequently     117   160
Travel_Rarely         422   621

H0: There are independent that is no relation
H1: There are dependent that is relation

In [37]:
tstat,pval,dof,expe = stats.chi2_contingency(cont_table)
print(tstat,pval)

4.031372310350092 0.13322895625828154

In [ ]:
# Inference
# Pvalue > 0.05
# H0(Null Hypothesis is not rejected)
# There is no relation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The economic forum claims that the variance in the percentage salary hike is more the 12% in Manhattan. To test the forum's claim use the data obtained from a telecom company in Manhattan. Use a critical value method to test the claim with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [38]:
# type your code here
H0: Variance <= 12
Ha: Variance >12

In [41]:
avg = np.mean(df['PercentSalaryHike'])
sigma = 12
chi_sqr = np.sum(df['PercentSalaryHike']-avg)**2/sigma
print(chi_sqr)

9.977933455051475e-26

In [43]:
stats.chi2.pdf(chi_sqr,df=len(df)-1)

0.0

In [ ]:
# pvalue < 0.05
# H0(Null Hypothesis) is rejected
# Variance is greater than 12

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. The worker's association claims that the distance travelled by each employee to reach the office has a variance of less than 15 miles. Use a critical value method to test the claim with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
H0: variance <= 15
Ha: Variance > 15

In [45]:
avg = np.mean(df['DistanceFromHome'])
sigma = 15
chi_sqr = np.sum(df['DistanceFromHome']-avg)**2/sigma
print(chi_sqr)

4.529029265345679e-26

In [46]:
stats.chi.pdf(chi_sqr,df=len(df)-1)

0.0

In [ ]:
# pvalue < 0.05
# H0(Null Hypothesis) is rejected
# Variance is greater than 15

<a id = "1way"> </a>
## 2. One-way ANOVA

Use the data available in the CSV file `sales_emp.csv` for questions 9 to 13.

In [47]:
df1 = pd.read_csv('sales_emp.csv')
df1.head()

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,36,Travel_Rarely,1218,9,4,Life Sciences,1,27,3,82,...,2,80,0,10,4,3,5,3,0,3
1,39,Travel_Rarely,895,5,3,Technical Degree,1,42,4,56,...,3,80,1,19,6,4,1,0,0,0
2,50,Travel_Rarely,869,3,2,Marketing,1,47,1,86,...,3,80,0,3,2,3,3,2,0,2
3,46,Travel_Rarely,669,9,2,Medical,1,118,3,64,...,4,80,0,9,3,3,9,8,4,7
4,25,Non-Travel,240,5,3,Marketing,1,142,3,46,...,4,80,0,6,1,3,6,4,0,3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Check whether we can use the given dataset to study the equality of average monthly income of sales executives with a different education background in the company. Use a p-value technique to test at a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here

H0:Skewness = 0, that is data is normal
Ha:Skewness != 0, that is data is not normal

In [101]:
# Test of Normality - Shapiro
stats.shapiro(df1['MonthlyIncome'])

ShapiroResult(statistic=0.9582135677337646, pvalue=0.05732710659503937)

In [56]:
df1['EducationField'].value_counts()

Marketing           20
Life Sciences       16
Medical              8
Technical Degree     6
Other                4
Name: EducationField, dtype: int64

In [58]:
mi_mar = df[df['EducationField']=='Marketing']['MonthlyIncome']
mi_ls = df[df['EducationField']=='Life Sciences']['MonthlyIncome']
mi_med = df[df['EducationField']=='Medical']['MonthlyIncome']
mi_td = df[df['EducationField']=='Technical Degree']['MonthlyIncome']
mi_ot = df[df['EducationField']=='Other']['MonthlyIncome']

H0: All Variances are equal
Ha: Atleast one Variance is not equal

In [59]:
# Test of Equality of variance - Levene test
stats.levene(mi_mar,mi_ls,mi_med,mi_td,mi_ot)

LeveneResult(statistic=0.9966945650358047, pvalue=0.40817161833966276)

In [ ]:
# pvalue > 0.05
# All the variances are equal

 <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Use the sales employees' dataset to test whether the average monthly income of sales executives with different education background is equal or not. Use a critical value method with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [60]:
# type your code here
#  Annova Test

H0: All the mean are equal
Ha: All the mean are not equal

In [61]:
stats.f_oneway(mi_mar,mi_ls,mi_med,mi_td,mi_ot)

F_onewayResult(statistic=2.3327106129920807, pvalue=0.05386405746331044)

In [ ]:
# pvalue > 0.05
# H0(Null Hypothesis) is not rejected
# There is no relation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Can we use the given data of sales executives to check the equality of the average daily rate for different types of business travellers? Use a p-value technique to test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [103]:
# type your code here

H0:Skewness = 0, that is data is normal
Ha:Skewness != 0, that is data is not normal

In [102]:
# Test of Normality - shapiro
stats.shapiro(df1['DailyRate'])

ShapiroResult(statistic=0.954758882522583, pvalue=0.040250398218631744)

In [79]:
df1['BusinessTravel'].value_counts()

Non-Travel           18
Travel_Rarely        18
Travel_Frequently    18
Name: BusinessTravel, dtype: int64

In [95]:
dr_nt = df1[df1['BusinessTravel']=='Non-Travel']['DailyRate']
dr_tr = df1[df1['BusinessTravel']=='Travel_Rarely']['DailyRate']
dr_tf = df1[df1['BusinessTravel']=='Travel_Frequently']['DailyRate']

H0: All Variances are equal
Ha: Atleast one variance is not equal

In [97]:
# Test of equality of Variance
stats.levene(dr_tr,dr_tf,dr_nt)

LeveneResult(statistic=1.5065215359381487, pvalue=0.23137904227432696)

In [ ]:
# pvalue > 0.05
# H0(Null Hypothesis is not rejected)
# All Variances are equal

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Use the parametric test to check the equality of the average daily rate for all the types of business travelling. Use a p-value technique to test the data with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [98]:
# type your code here
# Annova

H0: All the mean are equal
Ha: All the mean are not equal

In [99]:
stats.f_oneway(dr_tr,dr_tf,dr_nt)

F_onewayResult(statistic=15.815759872412405, pvalue=4.527131533131016e-06)

In [ ]:
# pvalue < 0.05
# H0(Null Hypothesis is rejected)
# There is relation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Find the types of business travel for which the average daily rate is different. Use a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
# Not in Syllubus

<a id= "non-para"></a>
## 3. Equivalent Non-parametric Test

Use the data available in the CSV file `Employee_Attrition.csv` for questions 14 to 18.

In [100]:
df2 = pd.read_csv('Employee_Attrition.csv')
df2.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Can we use the non-parametric test to study the equality of average monthly income for all departments in the company? Use a p-value technique to test at 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here

H0: Skewness = 0, that is data is normal
Ha: Skewness !=1, that is data is not normal

In [114]:
# Test for normality - shapiro test
stats.shapiro(df2['MonthlyIncome'])

ShapiroResult(statistic=0.8279078602790833, pvalue=4.4031748323132235e-37)

In [ ]:
# pvalue <0.05
# H0(null Hypothesis is rejected), that is data not normal

In [115]:
df2['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [123]:
mi_rd = df[df['Department']=='Research & Development']['MonthlyIncome']
mi_sa = df[df['Department']=='Sales']['MonthlyIncome']
mi_hr = df[df['Department']=='Human Resources']['MonthlyIncome']

In [ ]:
H0: All Variances are equal
Ha: All Variances are not equale

In [126]:
# Test of equality of Variance - levene
stats.levene(mi_rd,mi_sa,mi_hr)

LeveneResult(statistic=3.7336501808976648, pvalue=0.024132885602905253)

In [ ]:
# Pvalue < 0.05
# H0(Null Hypothesis) is rejected
# All variances are not equal

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>15. Check whether the monthly income for all the departments in a company is the same or not. Test using the critical value method at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
# Kruskal test

H0:All the mean are equal
H1:All the mean are not equal

In [127]:
stats.kruskal(mi_rd,mi_sa,mi_hr)

KruskalResult(statistic=42.61858855841987, pvalue=5.565332051212746e-10)

In [ ]:
# pvalue < 0.05
# H0(Null is rejected)
# There is relation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Is it possible to identify the department with different average monthly income? If yes, perform the test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
# Ignore

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Check whether we can perform the Kruskal-Wallis H test to test the equality of the average experience of employees in all the departments. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here

H0: Skeweness = 0, that is data is normal
H1: Skeweness !=0, that is data is not normal

In [129]:
# Test for normality - shapiro
stats.shapiro(df2['TotalWorkingYears'])

ShapiroResult(statistic=0.9074277281761169, pvalue=5.62833706762415e-29)

In [ ]:
# pvalue < 0.05
# H0(Null Hypothesis)  is rejected, data is not normal

In [130]:
df['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [134]:
twy_rd = df[df['Department']=='Research & Development']['TotalWorkingYears']
twy_sa = df[df['Department']=='Sales']['TotalWorkingYears']
twy_hr = df[df['Department']=='Human Resources']['TotalWorkingYears']

H0: All Variances are equal
Ha: All Variances are not equale

In [138]:
# Test for equality of Variances - levene
stats.levene(twy_rd,twy_sa,twy_hr)

LeveneResult(statistic=0.7370695958729516, pvalue=0.4786912241174144)

In [ ]:
# Pvalue > 0.05
# H0(Null Hypothesis) is not rejected

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>18. Perform a non-parametric test to test the equality of the average experience of employees in all the departments. Use the p-value technique to perform the test with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
# Kruskal-Test

H0: All the mean are equal
Ha: All the mean are not equal

In [139]:
stats.kruskal(twy_rd,twy_sa,twy_hr)

KruskalResult(statistic=0.14222005425570283, pvalue=0.9313594116888158)

In [ ]:
# pvalue > 0.05
# H0(Null Hypothesis) is not rejected

<a id= "2way"></a>
## 4. Two-way ANOVA

Use the data available in the CSV file `sales_emp.csv` for questions 19 and 20.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Check whether the monthly income of employee depends on the education field and job involvement of the employee. Use the p-value technique with 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
# Ignore

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Check whether the daily rate is affected by the types of business travel and levels of work-life balance. Use the p-value technique with 1% level of significance.</b>
                </font> 
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
# Ignore