<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Import the required libraries

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Read the data

Load the csv file and print the first five observations.

In [9]:
df=pd.read_csv('rainfall_prediction.csv')
df.head()

,Obs_Id,Rainfall,Evaporation,Sunshine,Temp,Wind_Speed,Humidity,Pressure,RainTomorrow
0,1,3.6,1.0,3.0,14.225,12.333333,82.0,1028.10,0
1,2,0.0,7.2,4.9,23.075,44.333333,69.5,1015.65,1
2,3,0.0,0.6,1.5,10.175,16.666667,87.0,1026.45,0
3,4,0.8,2.4,0.5,19.000,42.666667,89.0,1010.05,1
4,5,40.4,3.0,3.6,18.725,35.333333,81.5,1005.60,0

**The data definition is as follows:** <br>

**Obs_Id:** Observation Id

**Rainfall:** Rainfall recorded in a day (in mm) 

**Evaporation:** Number of field goals made 

**Sunshine:** Number of hours of bright sunshine per day

**Temp:** Temperature in degree C

**Wind_Speed:** Average speed of the wind in km/hour

**Humidity:** Humidity in percentage (%)

**Pressure:** Atmospheric pressure in hpa (hecto Pascals)

**Rain Tomorrow:** Whether it will rain or not(0 = No, it won't rain tomorrow, 1 = Yes, it will rain tomorrow) (target/dependent variable)

Our objective is to predict whether it will rain tomorrow or not.

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Identify and remove the variables in the data which are insignificant for the classification analysis</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
df=df.drop('Obs_Id',axis=1)

In [20]:
df.head()

,Rainfall,Evaporation,Sunshine,Temp,Wind_Speed,Humidity,Pressure,RainTomorrow
0,3.6,1.0,3.0,14.225,12.333333,82.0,1028.10,0
1,0.0,7.2,4.9,23.075,44.333333,69.5,1015.65,1
2,0.0,0.6,1.5,10.175,16.666667,87.0,1026.45,0
3,0.8,2.4,0.5,19.000,42.666667,89.0,1010.05,1
4,40.4,3.0,3.6,18.725,35.333333,81.5,1005.60,0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Is there any record that is recorded more than once? If yes, do the needful</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [23]:
df[df.duplicated()]

,Rainfall,Evaporation,Sunshine,Temp,Wind_Speed,Humidity,Pressure,RainTomorrow
142,0.0,1.6,6.9,8.725,18.666667,76.0,1019.20,0
143,0.0,2.6,2.7,13.450,22.666667,64.5,1024.70,0
144,0.0,3.2,3.1,13.100,28.333333,57.5,1022.00,0
145,0.0,0.8,5.6,11.725,12.666667,78.5,1029.90,0
146,5.6,1.6,11.5,14.950,21.333333,54.5,1023.60,0
147,0.0,14.6,12.8,30.525,26.000000,36.5,1008.95,0
148,9.8,3.0,10.7,29.775,22.666667,61.5,1010.15,0
149,0.0,2.4,4.2,16.225,25.333333,75.5,1023.40,1
150,0.2,10.4,5.8,22.475,28.333333,73.5,1009.55,1
151,0.0,2.4,4.4,10.950,24.333333,66.5,1020.80,0
1510,5.2,0.4,1.1,18.725,18.333333,86.5,1004.55,0
1511,0.0,3.6,7.6,15.750,14.000000,71.0,1021.60,0
1512,0.4,5.2,13.0,19.950,23.666667,52.0,1015.25,0
1513,0.0,6.0,10.9,19.050,21.333333,39.0,1014.35,0
1514,0.0,3.2,9.5,15.375,24.000000,53.0,1031.75,0
1515,0.0,8.6,11.2,29.650,22.666667,46.5,1012.35,0
1516,0.0,4.0,10.9,29.175,17.333333,67.5,1011.05,0
1517,0.0,3.4,9.3,14.250,18.333333,61.5,1027.15,0
1518,0.0,5.4,11.0,18.925,24.666667,69.0,1017.00,0
1519,3.4,1.4,9.4,15.300,41.333333,57.0,1004.75,0

In [24]:
df.drop_duplicates(subset=None, keep='first', inplace=False)

,Rainfall,Evaporation,Sunshine,Temp,Wind_Speed,Humidity,Pressure,RainTomorrow
0,3.6,1.0,3.0,14.225,12.333333,82.0,1028.10,0
1,0.0,7.2,4.9,23.075,44.333333,69.5,1015.65,1
2,0.0,0.6,1.5,10.175,16.666667,87.0,1026.45,0
3,0.8,2.4,0.5,19.000,42.666667,89.0,1010.05,1
4,40.4,3.0,3.6,18.725,35.333333,81.5,1005.60,0
...,...,...,...,...,...,...,...,...
1505,0.0,9.2,7.9,22.900,23.333333,59.0,1020.65,0
1506,15.6,6.0,8.2,29.875,23.333333,69.5,1007.00,0
1507,0.0,3.0,9.5,17.925,22.666667,50.5,1012.70,1
1508,0.0,7.2,10.1,22.100,21.000000,65.5,1015.10,0
1509,0.0,3.2,10.5,14.300,24.000000,73.0,1025.05,0

In [25]:
df.shape

(1520, 8)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Are there any outliers present in the data? If yes, remove such observations using the quartiles of the variables
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [26]:
Q1=df.quantile(0.25)
Q3=df.quantile(0.75)
IQR=Q3-Q1
df = df[~((df< (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).any(axis=1)]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Is scaling required for the KNN algorithm? If yes, scale the data such that the range of each variable will be between 0 and 1
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [30]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df)

In [31]:
df.shape

(989, 8)

In [32]:
df.isna().sum()

Rainfall        0
Evaporation     0
Sunshine        0
Temp            0
Wind_Speed      0
Humidity        0
Pressure        0
RainTomorrow    0
dtype: int64

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Build a 7-NN model on 70% of the data using the 'Chebyshev' distance and find its accuracy 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [45]:
from sklearn.model_selection import train_test_split, RandomizedSearchCV
X=df.drop('RainTomorrow',axis=1)
y=df['RainTomorrow']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [61]:
from sklearn.neighbors import DistanceMetric
from sklearn.metrics import accuracy_score, roc_auc_score, roc_curve, confusion_matrix
dist = DistanceMetric.get_metric('chebyshev')
dist.pairwise(X_train)

array([[ 0.        , 25.        , 29.        , ..., 14.125     ,
        15.        , 26.33333334],
       [25.        ,  0.        ,  9.4       , ..., 22.        ,
        10.        , 17.        ],
       [29.        ,  9.4       ,  0.        , ..., 26.        ,
        14.        , 21.        ],
       ...,
       [14.125     , 22.        , 26.        , ...,  0.        ,
        14.025     , 18.33333334],
       [15.        , 10.        , 14.        , ..., 14.025     ,
         0.        , 14.33333334],
       [26.33333334, 17.        , 21.        , ..., 18.33333334,
        14.33333334,  0.        ]])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Find the best value of 'K' for the KNN model from the given list of values (use 5-fold cross validation)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the given list:**

K = [3, 5, 7, 9, 11, 13]

In [63]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

knn.fit(X_train, y_train)

KNeighborsClassifier()

In [66]:
from scipy.stats import randint as sp_randint

params = {'n_neighbors': [3, 5, 7, 9, 11, 13],
         'p': sp_randint(1, 8)}

knn = KNeighborsClassifier()

rsearch = RandomizedSearchCV(knn, param_distributions=params, cv=5, n_iter=50, 
                scoring='roc_auc', return_train_score=True, n_jobs=-1)

rsearch.fit(Xs, y)

E:\ANACONDA\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan]
  category=UserWarning
E:\ANACONDA\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the train scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan]
  category=UserWarning

RandomizedSearchCV(cv=5, estimator=KNeighborsClassifier(), n_iter=50, n_jobs=-1,
                   param_distributions={'n_neighbors': [3, 5, 7, 9, 11, 13],
                                        'p': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001BC510D3BC8>},
                   return_train_score=True, scoring='roc_auc')

In [67]:
rsearch.best_params_

{'n_neighbors': 13, 'p': 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Build a naive bayes model on 70% of the original data and plot the ROC curve along with the AUC score
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [72]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()

mnb.fit(X_train, y_train)
y_train_pred = mnb.predict(X_train)
y_train_prob = mnb.predict_proba(X_train)
y_test_pred = mnb.predict(X_test)
y_test_prob = mnb.predict_proba(X_test)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Which distance metric among 'manhattan', 'euclidean' and 'chebyshev' is suitable for the given dataset? (consider K = 19)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [76]:
params = {'n_neighbors': [3, 5, 7, 9, 11, 13],
         'p': sp_randint(1, 8)}

knn = KNeighborsClassifier()

rsearch = RandomizedSearchCV(knn, param_distributions=params, cv=5, n_iter=50, 
                scoring='roc_auc', return_train_score=True, n_jobs=-1)

rsearch.fit(Xs, y)

E:\ANACONDA\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan]
  category=UserWarning
E:\ANACONDA\lib\site-packages\sklearn\model_selection\_search.py:921: UserWarning: One or more of the train scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan]
  category=UserWarning

RandomizedSearchCV(cv=5, estimator=KNeighborsClassifier(), n_iter=50, n_jobs=-1,
                   param_distributions={'n_neighbors': [3, 5, 7, 9, 11, 13],
                                        'p': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001BC51C46788>},
                   return_train_score=True, scoring='roc_auc')

In [77]:
rsearch.best_estimator_

KNeighborsClassifier(n_neighbors=7, p=3)

In [78]:
rsearch.best_index_

0

In [79]:
rsearch.best_params_

{'n_neighbors': 7, 'p': 3}

In [80]:
rsearch.best_score_

nan

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the euclidean distance between the first observation of the dataframe 'X_test_scaled' and its five neighboring points in the train set (use for loop)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Use the parameters obtained in Q8 to build the KNN model, and find the number of false predictions using the test set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
# type your code here